@import "assets/scss/_variables.scss";
@import "assets/scss/_mixins.scss";

.adjacent-object-floating {
	display: block;
	position: fixed;
	padding: 2rem 4rem;
	border: 1px solid red;
	top: 50%;

	&--left {
		left: 0;
	}

	&--right {
		right: 0;
	}
}
