@import "assets/scss/_variables.scss";


@mixin rwd($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

@mixin font-size($font-size, $important) {
	@if map-has-key($font-sizes, $font-size) {
		$size: map-get($font-sizes, $font-size);
		$booster: '';
		@if $important == "true" {
			font-size: $size !important;
		} @else {
			font-size: $size;
		}
	}
		// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$font-size}`. "
        + "Available breakpoints are: #{map-keys($font-sizes)}.";
	}
}

@mixin social-media-icons() {
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		background-color: $black;

		margin-right: 7px;
		width: 35px;
		height: 35px;

		display: flex;
		align-items: center;
		justify-content: center;

		a {
			padding: .5rem;

			i {
				color: $gray-light !important;
				font-size: 21px;
			}
		}
	}
}

@mixin slick-arrow($h,  $arrow-offset) {
	z-index: $z-index-below-lightbox;
	position: absolute;
	background: rgba($black, .6);
	top: calc(35% - #{$h});
	border-radius: 100%;
	padding: 0;

	@include rwd(small){
		top: calc(25% - #{$h});
	}

	@include rwd(large){
		top: calc(50% - #{$h});
	}

	@include rwd(xlarge){
		top: calc(33% - #{$h});
	}

	@include rwd(xxlarge){
		top: calc(40% - #{$h});
	}

	.fa {
		padding: 1rem 1.25rem;
		color: $white;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: $black;
		color: $active-color-dark;

		.fa {
			color: $active-color-dark;
		}
	}

	&.slick-prev {
		left: $arrow-offset;
	}

	&.slick-next {
		right: calc(15px + #{$arrow-offset})
	}


}
