$primary-color: RED;
$secondary-color: ORANGE;
$active-color: $primary-color;
$active-color-dark: purple;

$black: #000;
$white: #FFF;


$gray-ultra-light: #CCC;
$gray-light:#999;
$gray-medium:#666;
$gray-dark:#333;

$bootstrap-gutter: 15px;

$breakpoints: (
        'mobile-s': 320px,
        'mobile-m': 375px,
        'mobile-l': 420px,
        'small': 767px,
        'medium': 992px,
        'large': 1200px,
        'xlarge': 1440px,
        'xxlarge': 1920px,
        'xxxlarge': 2560px,
        '4k': 3840px
) !default;



$font-sizes: (
	'pagination': 12px,
	'breadcrumbs-main-title': 20px,
	'button': 11px,
	'copyrights': 11px,
	'socialicons': 14px,

	'xxsmall': 6px,
	'xsmall': 9px,
	'small': 11px,
	'base': 13px,
	'sbase': 12px,
	'mid': 14px,
	'xmid': 16px,
	'large': 18px,
	'mlarge': 20px,
	'xlarge': 24px,
	'xxlarge': 28px,
	'jumbo': 32px,
	'mainmenu': 13px,
	'topmenu': 11px,
	'mobilemenu': 24px,

	'primary-title-sm': 23px,
	'primary-title-md': 25px,
	'primary-title': 28px,
	'secondary-title-sm': 18px,
	'secondary-title-md': 21px,
	'secondary-title': 24px,


	'section-title': 14px,
	'sidebar-title': 16px,
) !default;

