.adjacent-object-floating {
  display: block;
  position: fixed;
  padding: 2rem 4rem;
  border: 1px solid red;
  top: 50%; }
  .adjacent-object-floating--left {
    left: 0; }
  .adjacent-object-floating--right {
    right: 0; }
