 *[data-configuration-group] .item-currently-in-progress {
    background-color: gray !important; }

*[data-configuration-group] tr:nth-child(odd){
	background-color: #FFF
}

.pagination-wrap {
  border-top: 1px solid #999;
  padding-top: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px; }
  .pagination-wrap ul.pagination {
    border: none !important;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0; }
    .pagination-wrap ul.pagination li {
      margin-left: .5rem; }
      .pagination-wrap ul.pagination li > * {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #666;
        width: 2.3rem;
        height: 2.3rem;
        text-transform: uppercase;
        font-size: 12px;
        color: #666; }
        .pagination-wrap ul.pagination li > *:focus {
          outline: none !important; }
        .pagination-wrap ul.pagination li > *.current, .pagination-wrap ul.pagination li > *.next, .pagination-wrap ul.pagination li > *.prev {
          background-color: purple;
          color: #FFF;
          border: none; }
        .pagination-wrap ul.pagination li > *.dots {
          border-color: transparent; }
        .pagination-wrap ul.pagination li > *:hover {
          text-decoration: none;
          background-color: purple;
          color: #FFF;
          cursor: pointer;
          border-color: purple; }
          .pagination-wrap ul.pagination li > *:hover.next, .pagination-wrap ul.pagination li > *:hover.prev {
            color: #666; }
  @media (min-width: 992px) {
    .pagination-wrap {
      justify-content: flex-start; } }
  @media (min-width: 1200px) {
    .pagination-wrap {
      margin-left: 0;
      margin-right: 0;
      padding-top: 2rem;
      margin-top: 1.5rem; } }
